.btn {
  background-color: $darkgrey;
  box-shadow: 0;
  color: rgba($white, .9);
  font-size: $tiny-font-size;
  letter-spacing: .1em;
  outline: 0;
  padding: .5rem 1rem;
  text-transform: uppercase;
  @include focus-style {
    background-color: $black;
  }
}

.btn--request {
  background-color: $contrast-colour;
  @include focus-style {
    background-color: darken($contrast-colour, 10%);
  }
}

.btn__group {
  display: flex;
  .btn {
    flex: 1;
  }
}

.btn__nav-group {
  display: flex;
  background-color: $grey;
  justify-content: flex-end;
  width: 100%;
}

.text-input {
  background-color: transparent;
  border-bottom: 1px solid currentColor;
  box-shadow: 0;
  outline: 0;
  padding: .25rem;
  @include focus-style {
    color: $brand-colour;
  }
}
