.btn {
  background-color: $darkgrey;
  box-shadow: 0;
  color: rgba($white, .9);
  font-size: $tiny-font-size;
  letter-spacing: .1em;
  outline: 0;
  padding: .5rem 1rem;
  text-transform: uppercase;
  @include focus-style {
    background-color: $black;
  }
}

.btn--request {
  background-color: $contrast-colour;
  @include focus-style {
    background-color: darken($contrast-colour, 10%);
  }
}

.btn__group {
  display: flex;
  .btn {
    flex: 1;
  }
}

.btn__nav-group {
  align-items: center;
  display: flex;
  background-color: $darkgrey;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.btn__nav-group__branding {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 0 1rem;
  .logo {
    fill: $brand-colour;
    opacity: .9;
    max-width: 4rem;
  }
}

.text-input {
  background-color: transparent;
  border-bottom: 1px solid currentColor;
  box-shadow: 0;
  outline: 0;
  padding: .25rem;
  @include focus-style {
    color: $brand-colour;
  }
}

/**
 * Generic animation class to be applied to buttons *etc*, indicating
 * action available/needed.
 */
.pulse {
  position: relative;
}
.pulse::after {
  background-color: transparent;
  background-image: radial-gradient(ellipse at center, rgba($white, .5), rgba($white, 0));
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
  animation: 2s linear 0s infinite alternate pulse;
  z-index: 10;
}

@keyframes pulse {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
